.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 598px;
  margin: 55px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 38px auto 55px 0;
}

.u-block-524d-49 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-26 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-27 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-28 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-29 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-30 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-32 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-33 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-34 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-35 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-36 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-block-524d-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-14 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-15 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-16 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-17 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-18 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-16 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-17 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-18 {
    font-size: 1.5rem;
  }
}